@page "/Trabajo/Edit/{TrabajoId:int}"
@inject TrabajosServices trabajoService
@inject ClientesServices clienteService
@inject TecnicoServices tecnicoService
@inject PrioridadesServices prioridadService
@inject ArticulosService articuloService
@inject DetalleService detalleService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Edit Trabajo</PageTitle>
<EditForm Model="Trabajo" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <div class="container">
        <div class="shadow-lg">
            @*Header*@
            <div class="card-header">
                <div class="text-center">
                    <h3><strong>Editar trabajo</strong></h3>
                </div>
            </div>
            @*Body*@
            <div class="card-body">
                @*TrabajoId*@
                <div class="col-3 mt-2">
                    <label class="form-label"><strong>TrabajoId</strong></label>
                    <div class="id-input">
                        <InputNumber class="form-control" readonly @bind-Value=Trabajo.TrabajoId></InputNumber>
                    </div>
                </div>
                @*Fecha*@
                <div class="col-2 mt-2">
                    <label class="form-label"><strong>Fecha</strong></label>
                    <InputDate class="form-control" @bind-Value="Trabajo.Fecha"></InputDate>
                </div>
                @*Cliente*@
                <div class="col-2 mt-2">
                    <label class="form-label"><strong>Cliente</strong></label>
                    <InputSelect class="form-select" @bind-Value=Trabajo.ClienteId>
                        <option value="0" selected disabled>Seleccione un cliente</option>
                        @foreach (var cliente in ListarClientes)
                        {
                            <option value="@cliente.ClienteId">@cliente.Nombres</option>
                        }
                    </InputSelect>
                </div>
                @*Tecnico*@
                <div class="col-3 mt-2">
                    <label class="form-label"><strong>Tecnico</strong></label>
                    <InputSelect class="form-select" @bind-Value=Trabajo.TecnicoId>
                        <option value="0" selected disabled>Seleccione un Tecnico</option>
                        @foreach (var tecnico in ListarTecnico)
                        {
                            <option value="@tecnico.TecnicoId">@tecnico.Nombres - @tecnico?.TipoTecnico?.Descripcion</option>
                        }
                    </InputSelect>
                </div>
                @*Prioridad*@
                <div class="col-3" mt-2>
                    <label class="col-form-label"><strong>Prioridad</strong></label>
                    <InputSelect class="form-select" @bind-Value=Trabajo.PrioridadId>
                        <option value="0" selected disabled>Seleccione una prioridad</option>
                        @foreach (var prioridad in ListarPrioridad)
                        {
                            <option value="@prioridad.PrioridadId">@prioridad.Descripcion - @prioridad.Tiempo</option>
                        }
                    </InputSelect>
                </div>
                @*Descripcion*@
                <div class="col-3 mt-2">
                    <label class="form-label"><strong>Descripcion</strong></label>
                    <InputText class="form-control" @bind-Value=Trabajo.Descripcion></InputText>
                    <ValidationMessage For="() => Trabajo.Descripcion" />
                </div>
                @*Monto*@
                <div class="col-3 mt-2">
                    <label class="form-label"><strong>Monto</strong></label>
                    <InputNumber class="form-control" @bind-Value="Trabajo.Monto"></InputNumber>
                    <ValidationMessage For="() => Trabajo.Monto" />
                </div>

                @*Detalle de trabajo*@
                <div class="border border-success p-3 mt-3">
                    <div class="mt-2">
                        <h5>Detalle de trabajos</h5>
                    </div>
                    @*Select*@
                    ﻿<div class="col-auto input-group align-items-center">
                        <InputSelect class="form-select" @bind-Value=Seleccionado>
                            <option value="0" selected disabled>Seleccione un Articulo</option>
                            @foreach (var articulo in ListarArticulos)
                            {
                                @* <option value="@articulo.ArticuloId">@articulo.Descripcion</option> *@
                                <option value="@articulo.ArticuloId"> @articulo.ArticuloId. @articulo.Descripcion (@articulo.Precio)</option>
                            }
                        </InputSelect>
                        @*Cantidad*@
                        <label class="col-form-label input-group-text">Cantidad:</label>
                        <InputNumber class="form-control" @bind-Value="TrabajoDetalle.Cantidad"></InputNumber>
                        @*Precio*@
                        <label class="col-form-label input-group-text">Precio:</label>
                        <InputNumber class="form-control" id="quantity-input" readonly @bind-Value=TrabajoDetalle.Precio />
                        @*Agregar*@
                        <button type="button" class="btn btn-outline-success bi bi-plus" @onclick=Agregar>Agregar</button>
                    </div>
                    @*Tabla*@
                    <table class="table table-bordered mt-3">
                        <thead>
                            <tr>
                                <th>ArticuloId</th>
                                @* <th>Articulo</th> *@
                                <th>Cantidad</th>
                                <th>Precio</th>
                                <th>Remover</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            @foreach (var detalle in ListarDetalle)
                            {
                                <tr>
                                    <td>@detalle.ArticuloId</td>
                                    @* @if (@detalle.Articulos.Descripcion != null)
                                {
                                <td>@detalle.Articulos.Descripcion</td>
                                } *@
                                    <td>@detalle.Cantidad</td>
                                    <td>@detalle.Precio</td>
                                    <td>
                                        <button type="button" class="btn btn-danger oi oi-trash" @onclick="@(() => RemoverArticulo(detalle))">
                                            Remover
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            @*Footer*@
            <div class="card-footer">
                <button type="button" class="btn btn-secondary" @onclick=Volver>Volver</button>
                <button type="submit" class="btn btn-success">Guardar</button>
            </div>
        </div>
        @Mensaje
    </div>

</EditForm>

@code {
    [Parameter]
    public int TrabajoId { get; set; }
    public Trabajos Trabajo { get; set; } = new Trabajos();
    public List<Tecnicos> ListarTecnico { get; set; } = new List<Tecnicos>();
    public List<Clientes> ListarClientes { get; set; } = new List<Clientes>();
    public List<Prioridades> ListarPrioridad { get; set; } = new List<Prioridades>();
    public List<Articulos> ListarArticulos { get; set; } = new List<Articulos>();
    public List<TrabajosDetalle> ListarDetalle { get; set; } = new List<TrabajosDetalle>();
    public List<Trabajos> ListarTrabajos { get; set; } = new List<Trabajos>();
    public TrabajosDetalle TrabajoDetalle { get; set; } = new TrabajosDetalle();
    public int Seleccionado { get; set; }
    public string Mensaje = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        Trabajo = await trabajoService.Buscar(TrabajoId);
        if (Trabajo != null)
        ListarTecnico = await tecnicoService.Listar(t => true);
        ListarClientes = await clienteService.Listar(c => true);
        ListarTrabajos = await trabajoService.Listar(t => true);
        ListarPrioridad = await prioridadService.Listar(p => true);
        ListarArticulos = await trabajoService.ListarArticulos();
        ListarDetalle = await trabajoService.ListarDetalle(TrabajoId);
        ListarArticulos = await articuloService.Listar(a => true);
    }

    public void Volver()
    {
        navigationManager.NavigateTo("Trabajo/Index");
    }

    public async Task Guardar()
    {
        var modificar = await trabajoService.Guardar(Trabajo);

        if (modificar)
        {
            Mensaje = "Se ha modificar correctamente.";
            await Task.Delay(2000);
            Volver();
        }
        else
        {
            Mensaje = "No se pudo modificar el trabajo.";
        }
    }

    public void Agregar()
    {
        var articuloSeleccionado = ListarArticulos
        .FirstOrDefault(a => a.ArticuloId == Seleccionado);

        if (articuloSeleccionado != null && TrabajoDetalle.Cantidad > 0)
        {
            var nuevoDetalle = new TrabajosDetalle
                {
                    ArticuloId = articuloSeleccionado.ArticuloId,
                    // Articulos = articuloSeleccionado,
                    Cantidad = TrabajoDetalle.Cantidad,
                    Precio = articuloSeleccionado.Precio
                };
            ListarDetalle.Add(nuevoDetalle);
            TrabajoDetalle = new TrabajosDetalle();
            Trabajo.Monto += nuevoDetalle.Cantidad * nuevoDetalle.Precio;
            Seleccionado = 0;
        }
    }

    public void RemoverArticulo(TrabajosDetalle eliminarArticulo)
    {
        Trabajo.Monto -= eliminarArticulo.Cantidad * eliminarArticulo.Precio;
        ListarDetalle.Remove(eliminarArticulo);
        Seleccionado = eliminarArticulo.ArticuloId;
        TrabajoDetalle.Cantidad = eliminarArticulo.Cantidad;
        TrabajoDetalle.Precio = eliminarArticulo.Precio;
    }
}